header{
    width: 780px;
    height: 79px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

header h1{
    font-size: 32px;
    font-weight: 900px;
    font-family: "Roboto";
}